.App {
  text-align: center;
}
/* Nav css start */
.custom-nav{
  /* background-color: #e6dcff; */
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
  height: 80px;
  z-index: 1;
  color: #7500c0;
}
.hamburger-icon{
  font-size: 35px;
  color: #7500c0;
}
.brand-logo{
  width: 110px;
    height: 30px;
    margin: 0 25px;
}
.nav-link{
  font-size: 20px;
    font-weight: 500;
    color: #000 !important;
    margin: 0px 15px;
}
.search-input{
  width: 600px;
  border-radius: 25px;
  height: 55px;
  color: #000;
  font-size: 18px;
}
.search-btn{
  background-color: #7500c0;
  color: #fff;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 18px;
  margin-left: 15px;
}
.search-btn:hover{
  background-color: #a100ff;
  color: #fff;
}

/* Nav css end */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {

  color: #fff;
  background-color: rgb(117, 0, 192);
  padding: 8px 20px;
  font-size: 18px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}